.btn1{
    font-size:1em ;
    color:white ; /*couleur et taille de l'ecriture de reserver*/
    background: #fb911f;
    padding: 10px 20px; /*largeure et longeure des boxe */
    display: inline-block;
    margin-top: 20px;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 2px;
    transition: 0.5s;
    margin-left:45% ;
    
}